<h1>Welcome, <%= @user.name%> </h1>

<h3>Search bar:</h3>

<h3>Upcoming Reservations</h3>



<ul>
    <% @user.reservations.each do |reservation|%>
        <li><%= link_to reservation.restaurant.name, reservation_path(reservation.id) %></li>
    <% end %>
</ul>

