<h1>Welcome, <%= @user.name%> </h1>

<h3>Search bar:</h3>

<h3>Upcoming Reservations</h3>

<ul>
    <% @reservations.each do |res| %>
        <li> <%= link_to res.restaurant.name, [@user, res]%> </li>
    <% end %>
</ul>