<h1>Welcome, <%= @user.name%> </h1>

<<<<<<< HEAD
<h3>Search bar: <%= link_to 'All Restaurants', restaurants_path%></h3>
=======

<h3>Search bar:</h3>
>>>>>>> master

<h3>Upcoming Reservations</h3>



<ul>
    <% @user.reservations.each do |reservation|%>
        <li><%= link_to reservation.restaurant.name, reservation_path(reservation.id) %></li>
    <% end %>
</ul>


<h3> Past Reservations</h3>

<h3>My Reviews</h3>

<%= button_to "Log out", logout_path %>


