<h1>Update your reservation at <%=@restaurant.name%> </h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
       <li> <%= message %> </li>
    <% end %>
<% end %>

<%= render "form" %>
