<div class="background-image"> <%= image_tag "16.png", :class => "img-fluid" %> </div>

<div class="restaurant-description-container">
    <div class="card">
        <div class="card-body description-card">
            <h1 class="restaurant-name" ><%= @restaurant.name %></h1>
            <h3>Avaliable Times:</h3>

            <% @times.each do |time| %>
                <% new_time = DateTime.parse(time).strftime("%H:%M")%>
                <% if !@reservation_times.include?(new_time) %>
                    <%= link_to time, new_reservation_path(:restaurant_id => @restaurant.id) %><br>
                <% end %>
            <%end%>
        </div>
    </div>
</div>


