
<h1><%= @restaurant.name %></h1>

Image:

<h3>Avaliable Times:</h3>

<% @times.each do |time| %>
    <% new_time = DateTime.parse(time).strftime("%H:%M")%>
    <% if !@reservation_times.include?(new_time) %>
        <%= link_to time, new_reservation_path(:restaurant_id => @restaurant.id) %><br>
    <% end %>
<%end%>



