/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
//  *= require bootstrap-datepicker

// body {
//     background-image: image-url('toa-heftiba-6bKpHAun4d8-unsplash.jpg');
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
// }

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


body {
    font-family: 'Josefin Sans', sans-serif;
}

.nav-button {
    background-color: white;
    color: black;
    border: white;
}

.form-group {
    background-color:#eee;
    color:#666;
    padding:50px;
    border-radius:10px;
    border:1px solid #fff;

    select,
    button,
    textarea,
    input[type=text],
    input[type=number], 
    input[type=password] {
        width: 100%;
        margin: 8px 0;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        padding: 5px 12px;
        text-transform: capitalize;
    }
}

.align-center {
    text-align: center;
 }
