// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Reservation show page

.reservation-show-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.reservation-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    min-width: 650px;
    max-width: 850px;
    height: 500px;
    padding: 35px;
    text-align: center;
}

.reservation-details {
    padding-top: 30px;
}

.reservation-details p {
    padding: 8px;
}

.change-reservation-header {
    padding-top: 30px;
}

.reservation-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.edit-reservation-button {
    margin: 8px;
}

// Edit reservation page

.edit-reservation-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.edit-reservation-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    border-radius: 25px;
    min-width: 450px;
    max-width: min-content;
    height: 500px;
    padding: 55px;
    text-align: center;
}

.edit-reservation-header {
    padding-top: 25px;
    text-align: center;
}

.edit-reservation-form {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.review-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
 }
 
 .leave-review-button {
    width: 200px;
 }
 