// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Restaurant Show Page

.background-image {
    z-index: -1;
    position: absolute;
}

.restaurant-description-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    max-width: 650px;
    // width: 100%;
    background-color: white;
    border-radius: 25px;
}

.restaurant-name {
    padding: 35px 15px 0px 15px;
    text-align: center;
}

.reservation-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.new-reservation-button {
    width: 200px;
}

.new-reservation-button a:hover {
    color: white;
    text-decoration: none;
}

.info-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.restaurant-attributes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 25px;
}

.restaurant-attributes span {
    padding-left: 15px;
    padding-right: 15px;
}

.restaurant-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.restaurant-description p {
    padding: 0 20px 0 20px;
    margin-bottom: 0;
}

.restaurant-show-h4s {
    text-align: center;
    padding: 20px;
}

.review-card-rating-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.review-card-rating {
    text-align: center;
}

.review-user-details {
    display: flex;
    justify-content: center;
}

.restaurant-review-description {
    padding: 20px;
}





// Restaurants Index Page

.container {
    max-width: 1250px;
}

.restaurants-header {
    text-align: center;
    padding: 45px;
}

.restaurants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-card {
    margin: 5px;
    border-radius: 15px;
}

.restaurant-card-image {
    width: 15vw;
    height: 15vw;
    overflow: hidden;
}