// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Restaurant Show Page

.background-image {
    z-index: -1;
    position: absolute;
}

.restaurant-description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.restaurant-info {
    margin-top: 80px;
    max-width: 650px;
    background-color: white;
    border-radius: 25px;
}

.description-card {
    
}

.restaurant-name {
    padding: 15px;
}





// Restaurants Index Page

.container {
    max-width: 1250px;
}

.restaurants-header {
    text-align: center;
    padding: 45px;
}

.restaurants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-card {
    margin: 5px;
    border-radius: 15px;
}

.restaurant-card-image {
    overflow: hidden;
}