// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// login and signup pages
.signup-container {
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

//  user show page

#user-show-h1 {
   text-align: center;
   padding: 25px 15px;
   margin: 0;
}

.profile_picture_container {
   border-radius: 50%;
   width:15%; 
   height:15%;
   display: flex;
   margin: auto;
   align-items: center;
   justify-content: center;
   border-radius: 50%;

}

.user-reservation-reviews-container {
   display: flex;
   justify-content: center;
   width: 100%;
}

.user-reservation-reviews-card {
   margin-top: 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   background-color: white;
   border-radius: 25px;
   max-width: 850px;
   min-width: 700px;
}

.user-show-card {
   border-radius: 5px;
   margin: 15px;
   min-width: 400px;
   text-align: center;
   font-size: 1.5em;
}

.user-show-card ul {
   padding-left: 0;
}

.user-show-card ul li {
   list-style-type: none;
}

.show-card-header {
   padding: 15px;
}

