<div class= "review_container">
       <div class= "review_card">
               <p>Image</p>
               <br><br>
           <h1><%= @review.restaurant_name  %></h1>
               <br><br>
           <div class= "line"> </div>
           <p>My Review</p>
           <div class= "attribute_container" >
               <div class= "attribute_container_item">
                   <p style= "font-size: 2em; border-right: solid 0.25px black;">4.1</p>
                   <p> Food </p>
               </div>
               <div class= "attribute_container_item">
                   <p style="font-size: 2em; border-right: solid 0.25px black;">4.1</p>
                   <p>Decor </p>
               </div>
               <div class= "attribute_container_item">
                       <p style= "font-size: 2em; border-right: solid 0.25px black;">4.1</p>
                       <p>Service </p>
               </div>
           </div>
           <div class= "line"> </div>
               <br><br><br>
               <p class= "review_card_rating">My Rating: <% @review.rating.times do%>
                       ⭑
                   <% end %>
               </p>
               <br>
               <br>
               <br>
           Description: <%= @review.description %>
       </div>
   </div>